.section4 {
  display: flex;
  width: 100%;
  height: 500px;
  padding: 0px;
  margin-top: 45px;
  justify-content: space-between;
  align-items: flex-start;
  flex-shrink: 0;
}
.sec4Right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section4Content {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 96px;
  flex-shrink: 0;
  /* align-self: stretch; */
}
.contentTitle {
  color: #000;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.contentParagraph {
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  text-align: justify;
}
.section4Pic {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  position: relative;
}
.section4Image {
  width: 500px;
  height: 380px;
  flex-shrink: 0;
  border-radius: 40px;
  background: url(../images/book.jpg) lightgray 50% / cover no-repeat;
  position: absolute;
  left: 50px;
  top: 60px;
}
