.section1 {
  display: flex;
  width: 100%;
  height: 519px;
  align-items: flex-start;
  flex-shrink: 0;
}
.section1Image {
  width: 800px;
  height: 375px;
  position: absolute;
  left: 44px;
  top: 177px;
  background: url(../images/grassland.jpg) lightgray 50% / cover no-repeat;
}
.section1Text {
  width: 532px;
  position: absolute;
  right: 50px;
  bottom: 135px;
  color: #000;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
